<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>local.forwarding</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/sbin/sysctl</string>
        <string>-w</string>
        <string>net.inet.ip.forwarding=1</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>

    <key>StandardOutPath</key>
    <string>/tmp/sysctlfw.stdout</string>
    <key>StandardErrorPath</key>
    <string>/tmp/sysctlfw.stderr</string>

    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>LaunchOnlyOnce</key>        
    <true/>
    
    <key>UserName</key>
    <string>root</string>
    <key>GroupName</key>
    <string>wheel</string>
    <key>InitGroups</key>
    <true/>
  </dict>
</plist>
<!-- https://www.launchd.info/ -->
<!-- 
sudo cp local.forwarding.plist /Library/LaunchDaemons/
sudo chown root:wheel /Library/LaunchDaemons/local.forwarding.plist
sudo launchctl load  -w /Library/LaunchDaemons/local.forwarding.plist
-->
<!-- launchctl stop     /Library/LaunchDaemons/local.forwarding.plist -->
<!-- launchctl start -w /Library/LaunchDaemons/local.forwarding.plist -->